/* 确定版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}
/* logo */
.logo {
  height: 80px;
  background: url(../images/register/logo拷贝2.png) no-repeat left center;
  border-bottom: 2px solid #b1191a;
}
/* register */

/* footer */
